
/* green: #495E57 */
/* yellow: #F4CE14 */
/* pink: #ee9972 */
/* cream: #fdbabb */

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;   
  max-width: 1200px;  
  margin: 0 auto;  
  padding: 0 20px;  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


main{
  flex: 1;
}


.btn {
  text-decoration: none;
  color:#333333;
  padding: 20px;
  background-color: #F4CE14;
  border-radius: 16px;
  display:inline-block;
  cursor: pointer;
}

.btn:hover {
  background-color: #f4de75;

}


